#welcome {
	height:50px;
	border-bottom:1px green solid;
}

#bottom {
	margin-top:20px;
}

#terminal_frame {
	position:absolute;
	top:0;
	float:left;
	width:60%;
	height:400px;
	border:1px black solid;
	padding:6px;
	margin-bottom:10px;
	margin-right:10px;
}

#terminal {
	margin-bottom:20px;
	color:black;
	height:350px;
	overflow:auto;
	border:1px black solid;
	font-family: "Courier New";
        color:green;
        background:black;
}

#log_frame {
        float:right;
        width:35%;
        height:400px;
        border:1px black solid;
        padding:6px;
        margin-bottom:10px;
        margin-right:10px;
}

#log {
        margin-bottom:20px;
        color:black;
        height:350px;
        overflow:auto;
        border:1px black solid;
        font-family: "Courier New";
	color:red;
	background:white;
}


#pages {
	width:30%;
	height:500px;
	position:relative;
	left:0;
	display:inline-block;
}


#right_content {
	width:70%;
	height:100%;
	position:absolute;
	right:0;
	display:inline-block;
}
