#welcome {
	height:50px;
	border-bottom:1px green solid;
}

.console_frame {
	width:40%;
	height:250px;
	border:1px black solid;
	padding:6px;
	margin:2px;
}

.console {
	margin-bottom:20px;
	color:black;
	height:200px;
	overflow:auto;
	border:1px black solid;
	background:green;
}

#pages {
	width:15%;
	height:100%;
	border-right:1px green solid;
	position:absolute:
	left:0;
	display:inline-block;
}

#right_content {
	width:80%;
	height:100%;
	border:1px blue solid;
	position:absolute;
	right:0;
	display:inline-block;
}
